cloudpickle==3.1.2
joblib==1.6.0
numpy==2.3.3
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2026.3.post1
RapidFuzz==3.14.6
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.3
